#home {
    height: 667px;
    background: url('../images/campervan2.jpg');
    background-size: cover;
    background-clip: border-box;
    background-position: 25%;
    background-repeat: no-repeat;
}

#about {
    height: 667px;
    background: url('../images/picard5.jpg');
    background-size: cover;
    background-clip: border-box;
    background-position: 25%;
    background-repeat: no-repeat;
}

#conversions {
    height: 667px;
    background: url('../images/campervanone1.jpg');
    background-size: cover;
    background-clip: border-box;
    background-position: 60%;
    background-repeat: no-repeat;
}

#contact {
    height: 667px;
    background: url('../images/campervantwo1.jpg');
    background-size: cover;
    background-clip: border-box;
    background-position: 65%;
    background-repeat: no-repeat;
}

#gallery {
    height: 667px;
    background: url('../images/picard6.jpg');
    background-size: cover;
    background-clip: border-box;
    background-position: 75%;
    background-repeat: no-repeat;
}

#landing {
    height: 577px;
}

p {
    text-align: justify;
}

#landing-box {
    padding-top: 70px;
}

#landing-box-2 {
    padding-top: 30px;
}

#landing-title {
    font-size: 40px;
    font-weight: bold;
    color: #00bbff;
}

#landing-tag {
    color: #333333;
}    