body {
    height: 667px;
    background: url('../images/campervan2.jpg');
    background-size: cover;
    background-clip: border-box;
    background-position: 25%;
    background-repeat: no-repeat;
}

#landing {
    height: 577px;
    color: #009063;
}

p {
    text-align: justify;
}